<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HF</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  	<link rel="stylesheet" href="../css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
		    	<img src="../imagenes/logo-proyecta.png" class="img-fluid" alt="Responsive image">
				Gestion de miembros Proyecta UNI	
			</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
		      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="MenuB.html">Menu Principal</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="prueba1.html">Informacion de miembro</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="info_general1.html">Historial de miembro</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Secciones de informacion
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		            <li><a class="dropdown-item" href="info_general1.html">Participacion</a></li>
		            <li><a class="dropdown-item" href="info_general2.html">Rendimiento</a></li>
		            <li><a class="dropdown-item" href="info_general3.html">Medallas</a></li>
		          </ul>
		        </li>
		      </ul>
		      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
		      	<a href="javascript:history.back(-1);" class="btn btn-secondary">Regresar	
		      	</a>
		      </ul>
		    </div>
		  </div>
		</nav>
	</header>

	<main class="main">
		<div class="container">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</main>

	<footer class="footer mt-auto py-3 bg-dark">
	  <hr>
	  <div class="container">
	    <div class="row justify-content-center">
	    	<div class="col-6 col-lg-6 mb-3">
		        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="#">
		        	<img src="../imagenes/logo-dark-proyecta-150.png" class="img-fluid" alt="Responsive image">
		        	<span>Proyecta UNI</span>
		        </a>
		        <ul class="list-unstyled small text-muted">
		        	<li class="mb-2">Sistema de gestión de miembros de Proyecta UNI.</li>
		        	<li class="mb-2"></li>
		        	<li class="mb-2">Version 1.0.0</li>
		        	<li class="mb-2">Diseñado por: Acevedo, Quintana, Mechato</li>
		        </ul>
		    </div>
		    <div class="col-6 col-lg-2 mb-3">
		        <h5>Menu</h5>
		        <ul class="list-unstyled">
		        	<li class="mb-2"><a href="prueba1.html">
		        	Informacion de miembros</a></li>
		        </ul>
		    </div>
			<div class="col-6 col-lg-2 mb-3">
		        <h5>Busqueda de miembros</h5>
		        <ul class="list-unstyled">
		        	<li class="mb-2"><a href="info_general1.html">Participacion</a></li>
		        	<li class="mb-2"><a href="info_general2.html">Rendimiento</a></li>
		        	<li class="mb-2"><a href="info_general3.html">Medallas</a></li>
		        </ul>
		    </div>
		    <div class="col-6 col-lg-2 mb-3">
		        <h5>Contáctanos</h5>
		        <ul class="list-unstyled">
		        	<li class="mb-2"><a href="https://github.com/SalvaML/software/">
		        	Github</a></li>
		        </ul>
		    </div>

	    </div>
	  </div>
	  <hr>
	</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>